<style>
	.dumbBoxWrap { /* The div that shows/hides. */
		z-index:40001; /* High z-index to ensure it appears above all content */
		position: absolute;
		top:0;
		left:0;
	}
	.dumbBoxOverlay { /* Shades out background when selector is active */
		position:absolute;
		width:100%;
		height:100%;
		background-color:black;
		opacity:.8; /* Sets opacity so it's partly transparent */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE transparency */
		filter:alpha(opacity=80); /* More IE transparency */
		z-index:40001;
	}
	.vertical-offset { /* Fixed position to provide the vertical offset */
		position:absolute;
		z-index:40002; /* ensures box appears above overlay */
	}
	.dumbBox { /* The actual box, centered in the fixed-position div */
		width:405px; /* Whatever width you want the box to be */
		position:relative;
		margin:0 auto;

		background-color:white;
		padding:10px;
		border:1px solid black;
	}

</style>

<div class="dumbBoxWrap" ng-controller="galleryImageController" ng-show="gallery">
	<div class="dumbBoxOverlay">
		&nbsp;
	</div>
	<div class="vertical-offset"  >
		<div>
			<button ng-click="prev()">prev.{{rrr}}.</button>
			<button ng-click="next()">next</button>
			<button ng-click="close()" >close</button>
		</div>

		<ngc-responsive-image gallery-image="image" />
		<img ng-show="!loading" src="{{image.Small.PhotoUri}}" />
	</div>
</div>

