<style>
	.gdata-album h1 {
		margin-bottom: 0px;
	}

	.gdata-album h3 {
		margin-top: 0px;
	}

	.gdata-album .first-image {

	}

	ul li {
		display: block;
		float: left;
		margin-left: 30px;
	}
</style>

<div class="alert alert-error" ng-show="message">
	<b>Chyba:</b>
	{{message}}
</div>

<div ng-repeat="gridelement in page.GridElements">
	<div gridelement="gridelement"></div>
	<hr />
</div>


<script id="text.thtml" type="text/ng-template"><div>
		{{gridelement.Resources.text.Value}}
	</div>
</script>

<script id="simplehtml.thtml" type="text/ng-template"><div ng-controller="simplehtml">
	<div ng-bind-html-unsafe="ContentToHtml()"></div>
	</div>
</script>

<script id="clientspecificpostdataform.thtml" type="text/ng-template"><div>
	<ul>
		<li>
			<form name="myForm" ng-controller="userDataForm" ng-submit="post()">
				<h3>1</h3>
				<div>
					<input type="text" name="key" ng-model="key" placeholder="key" value="bjkasdjkb">
				</div>
				<div>
					<input type="text" name="keywords" ng-model="data.jmeno" placeholder="jmeno" required> *
				</div>
				<div>
					<input type="text" name="desc" ng-model="data.prijmeni" placeholder="prijmeni">
				</div>
				<button type="submit">Ok</button>
				<button ng-click="xx()">xxx</button>
			</form>
		</li>
		<li>
			<h3>2</h3>
			<form ng-controller="userDataForm" ng-submit="post()">
				<div>
					<input type="text" name="key" ng-model="key" placeholder="key" value="dalsi form ">
				</div>
				<div>
					<input type="text" name="keywords" ng-model="data.keywords">
				</div>
				<div>
					<input type="text" name="keywords" ng-model="data.keywords">
				</div>
				<div>
					<input type="text" name="keywords" ng-model="data.keywords">
				</div>
				<div>
					<input type="checkbox" name="desc" ng-model="data.checkbox">
				</div>
				<button type="submit">Ok</button>
			</form>
		</li>
		<li>
			<h3>3</h3>
			<form ng-controller="userDataForm" ng-submit="post()">
				<div>
					<input type="text" name="key" ng-model="key" placeholder="key">
				</div>
				<div>
					<input type="text" name="keywords" ng-model="data.keywords">
				</div>
				<div>
					<input type="text" name="desc" ng-model="data.desc">
				</div>
				<button type="submit">Ok</button>
			</form>
		</li>

	</ul>
	<div class="clearfix"></div>
	</div>
</script>

<script id="gdataalbum.thtml" type="text/ng-template"><div>
		<div class="gdata-album" ng-controller="gridelementGdataAlbumCtrl">
			<h1>{{gridelement.Resources.header.Value}}</h1>

			<h3>{{gridelement.Resources.text.Value}}</h3>

			<div class="first-image grid_3 xxx" class="">
				<img ngc-lazy-image="firstPhoto.Large.PhotoUri"/>
			</div>
			<div class="grid_9 xxx">
				<span ng-repeat="photo in gdataAlbumPhotos">
					<img ngc-lazy-image="photo.Small.PhotoUri"/>
				</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>


